/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #FFD700; /* Gold - brighter lemon */
  --ifm-color-primary-dark: #FFC400; /* Brighter */
  --ifm-color-primary-darker: #FFB300; /* Brighter */
  --ifm-color-primary-darkest: #FFA000; /* Brighter */
  --ifm-color-primary-light: #FFEB3B; /* Brighter */
  --ifm-color-primary-lighter: #FFF9C4; /* Brighter */
  --ifm-color-primary-lightest: #FFFFFF;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #FFEA00; /* Brighter Yellow for dark mode */
  --ifm-color-primary-dark: #FFD600; /* Brighter */
  --ifm-color-primary-darker: #FFC107; /* Brighter */
  --ifm-color-primary-darkest: #FFAB00; /* Brighter */
  --ifm-color-primary-light: #FFFF00; /* Brightest Yellow */
  --ifm-color-primary-lighter: #FFFF66; /* Even brighter */
  --ifm-color-primary-lightest: #FFFFB3; /* Lightest yellow */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] footer.footer--dark {
  background-color: #343a40; /* Darker blue-gray for the footer in dark mode */
}

html[data-theme='dark'] .homepageTaglineSection h2,
html[data-theme='dark'] .homepageTaglineSection p {
  color: var(--ifm-color-primary); /* Dark gray as the footer background color in dark mode */
}

html[data-theme='light'] footer.footer--dark {
  background-color: #E6EBF0; /* Light blue-gray for the footer in light mode */
  padding: 1rem 0; /* Reduced padding */
  margin-top: 0; /* No top margin */
}

.footer {
  padding: 1rem 0; /* Reduced padding for all footers */
}


